# Individual PyCharm settings
*.idea

# Virtual environments
/venv

# SWaP files 
*.swp

# Configuration file
artemis-cli.config

# Exercises subfolders
/w[0-9]*h[0-9]*

# Exclude python cache folder
/__pycache__
